@use "./App.scss";
@media screen and (max-width: 600px) {
  .shopping-container {
    margin: 15% 23%;
  }
  .shopping-container-two {
    transform: translateY(3%);
  }
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td:last-child {
    border-bottom: 0;
  }
  .card-title-head {
    display: none;
  }
}
